@model MagicTracker.Models.CardApi.ApiCardView

@{
    ViewBag.Title = "CardDelete";
    var imgLink = "http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=" + Model.Card.MultiverseId.ToString() + "&type=card";
    var gathererLink = "http://gatherer.wizards.com/pages/card/Details.aspx?multiverseid=" + Model.Card.MultiverseId.ToString() + "&type=card";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Card</h4>
    <hr />
    <section>
        <section style="width:50%; float: left">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Card.Name)
                </dt>

                <dd>
                    <a href="@gathererLink" rel="popover" data-img="@imgLink">@Html.DisplayFor(model => model.Card.Name)</a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Card.Printing)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Card.Printing)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DeckName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DeckName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Card.CardCondition)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Card.CardCondition)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Card.IsFoil)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Card.IsFoil)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Card.InUse)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Card.InUse)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Card.ForTrade)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Card.ForTrade)
                </dd>

            </dl>
        </section>
        <section style="width:50%; float: right">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Api.ManaCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Api.ManaCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Api.Colors)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Api.Colors)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Api.Type)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Api.Type)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Api.Subtypes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Api.Subtypes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Api.Text)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Api.Text)
                </dd>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </section>
    </section>


</div>
