@model IEnumerable<MagicTracker.Models.Deck.DeckItem>

@{
    ViewBag.Title = "DeckIndex";
}

<h2>Your Decks</h2>

<p>
    @Html.ActionLink("Create New", "DeckCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeckId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeckId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "DeckImportEdit", new { id = item.DeckId }) |
            @Html.ActionLink("Details", "DeckDetails", new { id = item.DeckId }) |
            @Html.ActionLink("Delete Deck", "DeckDelete", new { id = item.DeckId }) |
            @Html.ActionLink("Delete Cards", "DeckDeleteComplete", new { id = item.DeckId })
        </td>
    </tr>
}

</table>
