@model IEnumerable<MagicTracker.Models.CollectionItem>

@{
    ViewBag.Title = "DeckDetails";
}

<h2>DeckDetails</h2>
<p>
    @Html.ActionLink("Create New", "CreateDeck")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Printing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFoil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InUse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForTrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeckId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var imgLink = "http://gatherer.wizards.com/Handlers/Image.ashx?multiverseid=" + item.MultiverseId.ToString() + "&type=card";
        var gathererLink = "http://gatherer.wizards.com/pages/card/Details.aspx?multiverseid=" + item.MultiverseId.ToString() + "&type=card";
        
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardId)
            </td>
            <td>
                <a href="@gathererLink" rel="popover" data-img="@imgLink">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Printing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFoil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InUse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForTrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeckId)
            </td>
            <td>
                @Html.ActionLink("Edit", "CardEdit", new { id = item.CardId }) |
                @Html.ActionLink("Details", "CardDetails", new { id = item.CardId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CardId })
            </td>
        </tr>
    }

</table>
