@model MagicTracker.Models.CardDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CardDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CardId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Printing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultiverseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultiverseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFoil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFoil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InUse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InUse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ForTrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForTrade)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.CardId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
