@model MagicTracker.Models.CardDetailMultiple

@{
    ViewBag.Title = "EditMultiple";
}

<h2>EditMultiple</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CardDetailMultiple</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table">
    <tr>
        <th>Name</th>
        <th>Set</th>
        <th>Card Condition</th>
        <th>Foil</th>
        <th>In Use</th>
        <th>For Trade</th>
        <th>Holder</th>
    </tr>

    @foreach (var item in Model.CardList)
    {
        @Html.HiddenFor(modelItem => item.CardId)
        @Html.HiddenFor(modelItem => item.MultiverseId)
        @Html.HiddenFor(modelItem => item.Holder)
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Printing, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardCondition)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.IsFoil, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.InUse, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.ForTrade, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Holder, new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
    }
</table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
